

<body>
    <!-- <div><h1>Institut Pilote des Sciences Economiques et de Technologie</h1></div> -->

  <div  class="content">
    <div *ngIf="!formulaire && !f_Et && !f_En" class="container">
      <div class="row">
        <div class="col-sm-4">
          <div class="card mb-3">
            <div class="card-body">
              <h5 class="card-title">Étudiant</h5>
              <p class="card-text">Espace Etudiants</p>
              <button type="button" class="btn btn-primary btn-lg btn-block" (click)="loginEtudiants()">Accéder</button>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card mb-3">
            <div class="card-body">
              <h5 class="card-title">Enseignant</h5>
              <p class="card-text">Espace Enseignants</p>
              <button type="button" class="btn btn-primary btn-lg btn-block" (click)="loginEnseignants()">Accéder</button>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card mb-3">
            <div class="card-body">
              <h5 class="card-title">Administration</h5>
              <p class="card-text">Espace Administration</p>
              <button type="button" class="btn btn-primary btn-lg btn-block" (click)="loginAdministration()" >Accéder</button>
            </div>
          </div>
        </div>
      </div>
    </div>
   
  
      <div class="row">
        <div class="col-md-2">
          <img src="assets/avatar.png" alt="Description de l'image" class="fixed-image">
        </div>
        <div  *ngIf="formulaire"  class="col-md-8">
         
          <div class="card">
            <div class="mb-4"> <!-- Envelopper le titre dans un div avec une classe margin-bottom -->
              <h1> <strong>Espace Administration</strong></h1>
            </div>
            <div class="card-body">
              <form   class="row g-3">
                <div class="col-md-6">
                  <label for="inputEmail4" class="form-label">Email</label>
                  <input type="email" class="form-control" id="inputEmail4">
                </div>
                <div class="col-md-6">
                  <label for="inputPassword4" class="form-label">Password</label>
                  <input type="password" class="form-control" id="inputPassword4">
                </div>
                <div class="col-12">
                  <label for="inputAddress" class="form-label">Address</label>
                  <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
                </div>
                <div class="col-12">
                  <label for="inputAddress2" class="form-label">Address 2</label>
                  <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
                </div>
                <div class="col-md-6">
                  <label for="inputCity" class="form-label">City</label>
                  <input type="text" class="form-control" id="inputCity">
                </div>
                <div class="col-md-4">
                  <label for="inputState" class="form-label">State</label>
                  <select id="inputState" class="form-select">
                    <option selected>Choose...</option>
                    <option>...</option>
                  </select>
                </div>
                <div class="col-md-2">
                  <label for="inputZip" class="form-label">Zip</label>
                  <input type="text" class="form-control" id="inputZip">
                </div>
                <div class="col-12">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="gridCheck">
                    <label class="form-check-label" for="gridCheck">
                      Check me out
                    </label>
                  </div>
                </div>
                <br>
                <div class="row">
                  <div class="col">
                    <button type="submit" class="btn btn-primary">Sign in</button>
                  </div>
                  <div class="col text-right">
                    <button type="submit" class="btn btn-danger" (click)="fermer()">Fermer</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
<!-- ---------------------- -->
<div  *ngIf="f_Et"  class="col-md-8">
         
  <div class="card">
    <div class="mb-4"> <!-- Envelopper le titre dans un div avec une classe margin-bottom -->
      <h1> <strong>Espace Etudiants </strong></h1>
    </div>
    <div class="card-body">
      <form   class="row g-3">
        <div class="col-md-6">
          <label for="inputEmail4" class="form-label">Email</label>
          <input type="email" class="form-control" id="inputEmail4">
        </div>
        <div class="col-md-6">
          <label for="inputPassword4" class="form-label">Password</label>
          <input type="password" class="form-control" id="inputPassword4">
        </div>
        <div class="col-12">
          <label for="inputAddress" class="form-label">Address</label>
          <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
        </div>
        <div class="col-12">
          <label for="inputAddress2" class="form-label">Address 2</label>
          <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
        </div>
        <div class="col-md-6">
          <label for="inputCity" class="form-label">City</label>
          <input type="text" class="form-control" id="inputCity">
        </div>
        <div class="col-md-4">
          <label for="inputState" class="form-label">State</label>
          <select id="inputState" class="form-select">
            <option selected>Choose...</option>
            <option>...</option>
          </select>
        </div>
        <div class="col-md-2">
          <label for="inputZip" class="form-label">Zip</label>
          <input type="text" class="form-control" id="inputZip">
        </div>
        <div class="col-12">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="gridCheck">
            <label class="form-check-label" for="gridCheck">
              Check me out
            </label>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col">
            <button type="submit" class="btn btn-primary">Sign in</button>
          </div>
          <div class="col text-right">
            <button type="submit" class="btn btn-danger" (click)="fermer()">Fermer</button>
          </div>
        </div>
      </form>
    </div>

  </div>
</div>
<!-- ---------------------- --> 
<!-- ---------------------- --> 
<div  *ngIf="f_En"  class="col-md-8">
         
  <div class="card">
    <div class="mb-4"> <!-- Envelopper le titre dans un div avec une classe margin-bottom -->
      <h1> <strong>Espace Enseignant </strong></h1>
    </div>
    <div class="card-body">
      <form   class="row g-3">
        <div class="col-md-6">
          <label for="inputEmail4" class="form-label">Email</label>
          <input type="email" class="form-control" id="inputEmail4">
        </div>
        <div class="col-md-6">
          <label for="inputPassword4" class="form-label">Password</label>
          <input type="password" class="form-control" id="inputPassword4">
        </div>
        <div class="col-12">
          <label for="inputAddress" class="form-label">Address</label>
          <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
        </div>
        <div class="col-12">
          <label for="inputAddress2" class="form-label">Address 2</label>
          <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
        </div>
        <div class="col-md-6">
          <label for="inputCity" class="form-label">City</label>
          <input type="text" class="form-control" id="inputCity">
        </div>
        <div class="col-md-4">
          <label for="inputState" class="form-label">State</label>
          <select id="inputState" class="form-select">
            <option selected>Choose...</option>
            <option>...</option>
          </select>
        </div>
        <div class="col-md-2">
          <label for="inputZip" class="form-label">Zip</label>
          <input type="text" class="form-control" id="inputZip">
        </div>
        <div class="col-12">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="gridCheck">
            <label class="form-check-label" for="gridCheck">
              Check me out
            </label>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col">
            <button type="submit" class="btn btn-primary">Sign in</button>
          </div>
          <div class="col text-right">
            <button type="submit" class="btn btn-danger" (click)="fermer()">Fermer</button>
          </div>
        </div>
      </form>
    </div>

  </div>
</div>
<!-- ---------------------- --> 
      </div>
    </div>



</body>

